{% extends 'img.njk' %}
{% set title = 'Picnic Table' %}
{% set ratio = '1x1' %}
{% block body -%}
  <p>This was just a classic picnic table I built from redwood for <a href="http://808.estate">808 Estate.</a></p>
{%- endblock %}
