{% extends 'img.njk' %}
{% set title = 'Twitter Lights' %}
{% set ratio = '16x9' %}
{% block body -%}
  <p>Prototype for Twitter, ambient display device that reacts to tweeted keywords by changing colors of a Lifx Tile LED matrix. I was responsible for the industrial design, prototype fabrication, UX design, and full-stack web app development for the admin pages using the Twitter and Lifx apis, and UI components from twitter's in-house framework. Later I also coded a virtualized version using threejs to match a given design direction.</p>
{%- endblock %}
