{% extends 'img.njk' %}
{% set title = 'Addison\'s Elephant Mobile' %}
{% set ratio = '16x9' %}
{% block body -%}
  <p>I made this for my niece. Her nursery was elephant themed. The pipe cleaner and washer gave them some heft and let me pose the shape a bit better than just fabric on it's own. The dowels were finished with a few coats of tung oil.</p>
{%- endblock %}
