{% extends 'text.njk' %}

{% block body -%}
<div>
  <h1 id="reset_button">Reset Button</h1>

  <img alt="reset button photo" src="{{assetRoot}}work/prototyping/reset_button/reset1.jpg">

  <p>Worked with the team at Fjord, and John Murray Productions to create this massive reset button for a trade show booth.</p>

  <p>The concept was to have this oversized reset button, that had some lighting effects, and when pressed the lights would change, and it would trigger a video on the wall behind it to play.</p>

  <img alt="reset button photo" src="{{assetRoot}}work/prototyping/reset_button/reset4.jpg">

  <p>I whipped up an arduino controller that controlled the lighting over DMX, and connected to a computer as a USB keyboard, then coded a custom video player app in openframeworks to handle the video playback and keyboard control.</p>

  <iframe id="videoFrame" class="videoFrame" src="https://player.vimeo.com/video/332487293?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=0&amp;loop=0" width="800" height="450" frameborder="0"  webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" style="display: inline;"></iframe>

  <p>Here's the final piece working on the tradeshow floor</p>

  <img alt="reset button photo" src="{{assetRoot}}work/prototyping/reset_button/reset3.jpg">

  <iframe id="videoFrame" class="videoFrame" src="https://player.vimeo.com/video/336239295?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=0&amp;loop=0" width="800" height="450" frameborder="0"  webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" style="display: inline;"></iframe>

  <p>And here's Warren Buffet interacting with it</p>
  <img alt="reset button photo" src="{{assetRoot}}work/prototyping/reset_button/reset2.jpg">

</div>
{%- endblock%}
