{% extends 'flash.njk' %}
{% set title = 'Phototag' %}
{% set ratio = '2x1' %}
{% set embed = [
  {
    "path": "phototag.swf",
    "alt": "phototag.jpg",
    "width": 800,
    "height": 400
  }
] %}
{% block body -%}
  <p>photo remix series with Mike Vandermallie</p>
{%- endblock %}
