{% extends 'img.njk' %}
{% set title = 'Woodshop Storage' %}
{% set ratio = '16x9' %}
{% block body -%}
  <p>Couple of beginner CNC projects designed in fusion 360 and cut from street sourced plywood.</p>{%- endblock %}
