{% extends 'img.njk' %}
{% set title = 'Addison\'s Kitchen Stool' %}
{% set ratio = '16x9' %}
{% block body -%}
  <p>This one is for my Niece. Kitchen "learning tower" for counter activities. Design by the  <a href="http://thewoodwisperer.com">wood wisperer</a> - Marc Spagnuolo. <a href="https://m.youtube.com/watch?v=vnbP-Q8a5Nc">video</a></p>
{%- endblock %}
