{% extends 'text.njk' %}

{% block body -%}
<div>
  <h1 id="antique_weather_clock">Antique Weather Clock</h1>

  <img alt="Antique Weather Clock" src="{{assetRoot}}work/prototyping/weather_clock/weatherclock1.jpg">

  <p>I love the idea of hacking antiques, using electronics to update their functionality or change it completely. I came up with this concept for an antique weather clock, instead of telling the time it tells you the weather.</p>

  <img alt="Antique Weather Clock" src="{{assetRoot}}work/prototyping/weather_clock/weatherclock3.jpg">

  <p>I used a fake antique (replica) that I picked up for cheep on eBay. I took out the clock work, and replaced it with a servo and a micro-controller, then I re-designed the face of the clock keeping a similar look to the original time piece. The weather service I was using reports something like 40 different weather conditions, so I had to condense the list, and I ended up with 14 ‘conditions’</p>

  <ul>
    <li>Cold</li>
    <li>Hot</li>
    <li>Fog / Haze</li>
    <li>Cloudy</li>
    <li>Partially Cloudy</li>
    <li>Sunny / Clear</li>
    <li>Clear at Night</li>
    <li>Rain / Showers</li>
    <li>Mixed winter precipitation (sleet / freezing rain)</li>
    <li>Snow</li>
    <li>Windy</li>
    <li>Thunderstorms</li>
    <li>Severe Weather (hurricane / tornado)</li>
    <li>Dead Clock (no internet connection / service errors)</li>
  </ul>

  <img alt="Antique Weather Clock" src="{{assetRoot}}work/prototyping/weather_clock/weatherclock2.jpg">

  <p>In 2011 I re-worked the micro-controller to be fully self contained (previously it required a USB connection and had an app running on a computer)</p>
  <p>It now runs over WiFi, needing just power or battery connection. I off-loaded the logic to run on a web app, so I can change the zip-code or weather service without re-flashing the firmware. However every time I change WiFi credentials I have to re-program the controller.</p>

  <iframe id="videoFrame" class="videoFrame" src="https://player.vimeo.com/video/335024805?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=0&amp;loop=0" width="800" height="450" frameborder="0"  webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" style="display: inline;"></iframe>

  <p>© 2006 Peter Schirmer</p>

</div>
{%- endblock%}
