{% extends 'combo.njk' %}
{% set title = 'Future' %}
{% set ratio = '4x3' %}
{% set videos = [
  {
    "id": 5659324,
    "name": "future 1"
  },
  {
    "id": 5659347,
    "name": "future 2"
  },
  {
    "id": 5659338,
    "name": "future 3"
  }
] %}
{% block body -%}
  <p>Resident VJ for club Future. Underground SF and 330 Ritch</p>
{%- endblock %}
