{% extends 'img.njk' %}
{% set title = '808 estate cutting boards & board creme' %}
{% set ratio = '16x9' %}
{% block body -%}
  <p>For X-mas 2016 I made 3.5 of these end-grain cutting boards and some beeswax board conditioning creme. The wood is a mix of teak, afzalia, chinkapin, cut-offs from a couple other projects.</p>
{%- endblock %}
