{% extends 'img.njk' %}
{% set title = 'Waxed Canvas Tool Roll' %}
{% set ratio = '16x9' %}
{% block body -%}
  <p>I made this to hold all the little things I take camping. I roughly followed this instructible <a href="http://www.instructables.com/id/DIY-Brown-Bag/">http://www.instructables.com/id/DIY-Brown-Bag</a> for how to wax canvas, and the pattern was something I just made up on the fly.</p>
{%- endblock %}
