{% extends 'img.njk' %}
{% set title = 'Tesla Mission Control' %}
{% set ratio = '16x9' %}
{% block body -%}
  <p>Data visualization application created for Tesla Motors HQ Lobby. Inspired by SpaceX "Mission Control" displays locations and stats about Tesla Charging stations and global green electricity output.</p>
{%- endblock %}
