{% extends 'audio.njk' %}
{% set title = 'Nightlife 2' %}
{% set s3link = 'http://aws.thisispete.com/dj/nightlife_11311_2.mp3' %}
{% block body -%}
  <p>live set at the Cal Academy of Science Nightlife event (2/2)</p>
{%- endblock %}
