{% extends 'vid.njk' %}
{% set title = 'Duos' %}
{% set videoid = '5659314' %}
{% set ratio = '4x3' %}
{% block body -%}
  <p>A night of video projections paired with sonic arts performances at the AV room. featuring Marc McNulty</p>
{%- endblock %}
