{% extends 'text.njk' %}

{% block body -%}
<div>
  <h1 id="white_block_clock">White Block Clock</h1>

  <img alt="White Block Clock" src="{{assetRoot}}work/prototyping/white_block_clock/wbc1.jpg">

  <p>I love those wooden block clocks I’ve been seeing around that have LED displays placed behind the surface of thin wood veneer. However I wanted to make one that was all white with a high-gloss finish, and I wanted to be able to design my own font for the time display.</p>

  <p>For the display I used a <a href="http://jimmieprodgers.com/kits/lolshield/">LOLShield</a> kit for arduino.</p>

  <img src="{{assetRoot}}work/prototyping/white_block_clock/wbc4.jpg">

  <p>The display uses the <a href="http://www.arduino.cc/playground/Code/Charlieplex">Arduino Charlieplexing</a> library, which reads in lines of binary that have been bit-shifted into decimal. This way it stores a 2-d array of 1’s and 0’s for on and off as a 1-d array of integers, which saves memory.</p>
  <p>To create the custom display graphics, first I made some interactive prototypes of the grid of pixels. I whipped up a couple of flash programs that let me click pixels on and off and export the data in a format that the arduino code would use to display my custom designed numbers. After I was pretty happy with the designs I exported all the data to the arduino.</p>

  <img src="{{assetRoot}}work/prototyping/white_block_clock/wbc3.jpg">

  <p>The next bit was building a case. I did a lot of searching for boxes online, and finally found one at TAP plastics that looked like a good place to start.</p>

  <img src="{{assetRoot}}work/prototyping/white_block_clock/wbc2.jpg">

  <p>It took a few tries and broken cases to get it right, drilling in plastic is tricky, but in the end I love how it looks with the paint on the inside like a white cube had been incased in clear plastic.</p>
  <p>In the back I wired two buttons for setting the hours and minutes, and added a power connector.</p>

  <img src="{{assetRoot}}work/prototyping/white_block_clock/wbc5.jpg">

  <p>© 2010 Peter Schirmer</p>

</div>
{%- endblock%}
