{% extends 'audio.njk' %}
{% set title = 'Dusty Summer' %}
{% set s3link = 'http://aws.thisispete.com/dj/dusty_summer.mp3' %}
{% block body -%}
  <p>studio demo recording summer of 2010</p>
{%- endblock %}
