{% extends 'img.njk' %}
{% set title = 'Tesla Go Electric Kiosk' %}
{% set ratio = '16x9' %}
{% set link = 'https://www.odopod.com/case-studies/tesla-motors' %}
{% block body -%}
  <p>Worked with the teams at Tesla Motors and odopod to create a series of educational tools designed to teach customers what its like to own an electric car.</p>
{%- endblock %}
