{% extends 'img.njk' %}
{% set title = 'Exprescion' %}
{% block body -%}
  <p>Worked with the folks at Attik to develop this flash site showcasing the Scion owner event series called Exprescion.</p>
{%- endblock %}
