{% extends 'img.njk' %}
{% set title = 'Nest Learning Thermostat' %}
{% set link = 'http://www.nest.com' %}
{% block body -%}
  <p>Worked with the teams at odopod and the Nerdery to create a new website for the Nest learning thermostat.</p>
{%- endblock %}
