{% extends 'img.njk' %}
{% set title = 'Tesla Kiosk Refresh' %}
{% set ratio = '16x9' %}
{% block body -%}
  <p>2015 refresh of the Telsa Motors retail kiosk experience, brings a brand new configurator experience as well as a facelift and new maps detailing the Supercharging Network</p>
{%- endblock %}
