{% extends 'flash.njk' %}
{% set title = 'Glitchy Structure' %}
{% set ratio = '2x1' %}
{% set embed = [
  {
    "path": "glitch.swf",
    "alt": "glitch.jpg",
    "width": 800,
    "height": 400
  }
] %}
