{% extends 'img.njk' %}
{% set title = 'CNC Dust Collection Hub' %}
{% set ratio = '16x9' %}
{% block body -%}
  <p>My CNC needed a dust collector, I never like the clumsy dust shoe designs, so I came up with this hub design using locline and PVC. It mounts to the Z-axis, avoids the spindle cable, and is easy to re-position. </p>
{%- endblock %}
