{% extends 'text.njk' %}

{% block body -%}
<div class="textOnly">
  <h2>This is Pete</h2>

  <p>Grew up on a small family farm in the finger lakes region of western NY. My dad was a mad scientist of an inventor and builder, and my Mom was very active with 4H where we learned everything from cooking to sewing to raising animals to outdoor skills at summer camp.</p>
  <p>I have a BFA from the New York State College of Ceramics, School of Art and Design at Alfred University. My studies focused on video / sonic / electronic art, graphic design, photography, kinetic sculpture / instillation art, and interactive / web / new media design.</p>
  <p>After school I worked as a software engineer and graphic designer for a company called Coombs Media, most of the work was for Kodak. While living in Rochester I became involved in the western NY art and music scene as a video artist. I primarily showed work at local one-night-only events, and performed video projections for live bands / and sonic artists. I have 2 independent DVD releases of my video work. The first was called systems and was mostly experimental video work from Alfred, the second is called ‘Rochester Collaborations’ which loosely documents my work from NY, showing the collaborations with the sonic artists and musicians from that scene.</p>
  <p>I moved to California in fall of 2004. After getting re-settled I started a regular VJ gig at club Future, and became active in the indie / electro dance scene as a VJ, promoter, and later switched to DJing. All while holding down a day job as a creative software engineer. I started out at MRM / McCann doing some work for Microsoft, and then moved to ATTIK where I launched a number of huge crazy flash websites for Scion Lexus.</p>
  <p>I spent 9 years working at Odopod as a senior software engineer, making award winning interactive experiences for Nike, Got Milk, Honda, Google, Nest, Tesla, Sony, Nvidia, Nestea, Dolby, EA, Audemars Piguet, Subzero Wolf, etc. This place was amazing, so many good times and projects with the odopod family.</p>
  <p>In 2015 I bought a 1912 craftsmen house in North Oakland. Spent the better part of 2 years renovating it.</p>
  <p>My next career step was with MATTER, I officially pivoted from Software Engineer to Creative Technologist, although it was very similar to the types of projects I was doing with odopod, on paper MATTER was an industrial design company that did connected consumer electronics design. I was the advisor for the team of UX and Industrial designers, helping with projects ranging from VR headsets to medical robots to exhibit and retail space design, and doing more R&D, education, prototype software + hardware development, making custom circuit boards and hacking electronic parts together for user testing / proof of concept demos. Overall the work was more speculative, and the audience was generally internal, and 'quick n dirty' compared to Odopod's consumer facing work which was always buttoned up and pixel perfect.</p>
  <p>In my shop I have been building furniture, and other craft products, as well as exploring digital fabrication, laser cutter, CNC, 3d Printing.</p>
  <p>My career goals for the future are to focus on making interactive experiences beyond the desktop. Projects that spark my interest are site specific things like museum displays, public projects, or dedicated UI for hardware, car dashboards, consumer electronics, etc. Im very interested in prototyping electronics, the DIY / 'MAKE' movement, the Internet of things, rapid prototyping for product development or even one-off movie props.</p>

  <h2>Awards</h2>

  <h3>Scion xB: Want2BSquare</h3>
  <ul>
    <li>The FWA SOTD</li>
  </ul>

  <h3>Scion xD: Little Deviant</h3>
  <ul>
    <li>The FWA SOTD</li>
  </ul>

  <h3>Honda Customize your Civic Kiosk</h3>
  <ul>
    <li>Communication Arts: 2008 Interactive Annual</li>
  </ul>

  <h3>Got Milk?: White Gold is White Gold</h3>
  <ul>
    <li>The FWA SOTD</li>
    <li>One Show Interactive : Silver</li>
    <li>FITC Awards: Flash Animation Winner</li>
  </ul>

  <h3>Nestea: Liquid Awesomeness</h3>
  <ul>
    <li>The FWA SOTD</li>
    <li>One Show Interactive: Finalist</li>
    <li>Cannes Cyber Lions: Finalist</li>
  </ul>

  <h3>NVIDIA: Speak Visual</h3>
  <ul>
    <li>The FWA SOTD</li>
    <li>Communication Arts: 2010 Interactive Annual</li>
    <li>Horizon Interactive Awards: Gold Flash</li>
    <li>One Show Interactive: Silver &amp; Merit Award</li>
    <li>Webby Awards: People’s Voice Winner</li>
    <li>FITC Awards: Winner 3d Flash</li>
    <li>SXSW Web Awards: Winner Motion Graphics</li>
    <li>.net Awards: Interactive Site of the Year</li>
  </ul>

  <h3>Sony: PIIQ Headphones</h3>
  <ul>
    <li>The FWA SOTD</li>
    <li>Communication Arts: 2011 Interactive Annual</li>
    <li>W3 Awards: Silver</li>
  </ul>

  <h3>Sony: Sony Internet TV / Google TV</h3>
  <ul>
    <li>The FWA SOTD</li>
    <li>Interactive Media Awards: Best in Class - Television</li>
    <li>One Show Interactive Finalist</li>
    <li>Webby Awards Honoree</li>
    <li>The Tomorrow Awards Winter Shortlist</li>
  </ul>

  <h3>Tesla Retail Experience</h3>
  <ul>
    <li>HOW Interactive Awards - Kiosk</li>
  </ul>

  <h3>Nest</h3>
  <ul>
    <li>AWWWARDS site of the day</li>
  </ul>

  <h2>Residencies / Visiting Artist</h2>

  <h3>Visiting Artist Alfred University Video Department, Jan. 2002</h3>
  <p>Was asked by the Video faculty to work with Juniors and Seniors to teach them the video processing software “Image/Ine”.</p>

  <h3>Experimental Television Center, Jun 2000</h3>
  <p>Participated in the Summer Student Residency at the Experimental Television Center in Owego NY.</p>

  <h2>Curatorships</h2>

  <h3>Equipped, May 2004</h3>
  <p>One Night Show of Video Instillations and Electronic Music at the Visual Studies Workshop in Rochester NY included 6 video artists and 3 live acts of music plus dj’s.</p>

  <h3>Co-curator Prominence, 2000 &amp; 2001</h3>
  <p>Annual collection of student video works from western New York. Curated by students, and shown in several galleries across western NY.</p>

  <h2>Exhibitions &amp; Performances</h2>

  <h3>Plone Conference 2011</h3>
  <p>DJ for the Plone Developer Conference closing party on Treasure Island.</p>

  <h3>Nightlife 2009 - 2011</h3>
  <p>Guest DJ for the Cal Academy of Science Nightlife Events</p>

  <h3>Bootie SF 2009 - 2011</h3>
  <p>Regular Guest DJ in the electro lounge for the famous mashup club at DNA Lounge SF.</p>

  <h3>Odopod’s 10 Year Anniversary Party Dec 2010</h3>
  <p>Dj’d at Bimbos 365 in SF for the Semi-respetful 10 year anniversary party for odopod.</p>

  <h3>FITC afterparty Aug 2010</h3>
  <p>VJ and DJ for the offical FITC closing party held at Mezzanine SF</p>

  <h3>Partyline! Feb - Apr 2010</h3>
  <p>Resedent DJ and VJ and co-founder of this monthly night at Shine bar SF</p>

  <h3>Lacquer Jan - Aug 09</h3>
  <p>Regular Guest DJ; Beauty Bar SF</p>

  <h3>Club Super Ego, Dec 2008 - may 2009</h3>
  <p>Resident VJ and DJ for this monthly night at DNA Lounge; Fashion, Music, Dance, Glam.</p>

  <h3>Opulent Temple, Aug 2008</h3>
  <p>Guest VJ at the famous Opulent Temple in sunny Black Rock City Nevada.</p>

  <h3>Club Electropolis, Oct - Dec 2007</h3>
  <p>Resident VJ and Co-Host with DJ KidHack for this Bi-weekly night at Etiquette Lounge SF.</p>

  <h3>Get Lost, Sept 2007</h3>
  <p>Guest VJ set with DJ KidHack at Camp Get Lost, Burning Man 2007.</p>

  <h3>Supperclub, Aug 2007</h3>
  <p>Guest VJ set at Supperclub SF</p>

  <h3>Club Super Ego, April - July 2007</h3>
  <p>Resident VJ and Co-host for this monthly night at Rickshaw Stop SF, Many local DJ’s and a couple bands.</p>

  <h3>Be The Riottt, Nov 2006</h3>
  <p>VJ sets for Fingerbangerz, Saul Williams, Metric, and camera mixing for the Rapture. Be The Riottt was held at the Bill Graham Civic Auditorium in San Francisco.</p>

  <h3>POP ROXX, April 2006</h3>
  <p>Guest VJ at club POP ROXX at the DNA Lounge in San Francisco CA.</p>

  <h3>Future, Jan - July 2006</h3>
  <p>Resident VJ for club Future. Monthly Electro club at 330 Ritch in San Francisco CA.</p>

  <h3>Envelope, Jan 2006</h3>
  <p>Rochester Collaborations DVD featured at a Merrostar Collective event at 111 Minna gallery in San Francisco.</p>

  <h3>Past to Future, Dec 2005</h3>
  <p>VJ for underground New Years Eve Party, at Marrakech in San Francisco CA.</p>

  <h3>Sea of Dreams, Dec 2005</h3>
  <p>Guest VJ slot at Anon Salon’s Sea of Dreams New Years Eve Party at the SF Concourse Convention Center in San Francisco CA.</p>

  <h3>Future, 2005</h3>
  <p>Resident VJ for club Future. Bi-monthly Electro club at Underground SF in San Francisco CA.</p>

  <h3>Video Riot, Nov 2004</h3>
  <p>Participated in the 2004 Video riot in San Francisco CA.</p>

  <h3>Terry Mullens, Venus 7, etc. July 2004</h3>
  <p>VJ’ed for a night of House DJ’s at Water Street Music Hall in Rochester NY.</p>

  <h3>Comacast, Unfed, etc. July 2004</h3>
  <p>Projected live video for a night of industrial music at Vertex in Rochester NY.</p>

  <h3>Comacast, July 2004</h3>
  <p>Projected live video for Industrial band Comacast at ? venue in Buffalo NY.</p>

  <h3>Equipped, May 2004</h3>
  <p>Showed a remix / retrospective of the past year’s work. Visual Studies Workshop. Rochester NY.</p>

  <h3>Solos, Sept 2004</h3>
  <p>Showed ‘Organics’ with audio accompany by sonic artist Marc McNulty. A|V space in Rochester NY.</p>

  <h3>Synarsthesia II, Jun 2004</h3>
  <p>Showed ‘Windows on Windows’ This sequal show was a two day mixed media art event held at the A|V space in Rochester NY.</p>

  <h3>Comacast, April 2004</h3>
  <p>Projected live video for Industrial band Comacast at Vertex in Rochester NY.</p>

  <h3>Synaesthesia, April 2004</h3>
  <p>Showed ‘When Spaceships Explode’ Synaesthesia was a one night show of mixed media artists at the Visual Studies Workshop. Rochester NY.</p>

  <h3>init.two, Jan. 2003</h3>
  <p>Showed 2 untitled projections of simulated life-forms. Visual Studied Workshop, Rochester NY.</p>

  <h3>Box Show, Dec 2002 / Jan 2003</h3>
  <p>Participated in a group show in Jamestown NY.</p>

  <h3>Headspace, Jun. 2000 - Mar. 2002</h3>
  <p>Improv experimental electronic music performance sessions hosted by DJ Chuck Miller on 88.5 WRUR at the University of Rochester.</p>

  <h3>BFA Exhibition, May 2001</h3>
  <p>Solo exhibition included ‘Systems’ an interactive collection of my video work on DVD, and ‘burning-house’ a collection of flash projects currently online.</p>

  <h3>Prominence, May 2001</h3>
  <p>Video work ‘Triskaidekaphobia’ included in an annual collection of student video works from western New York, screened at Alfred.</p>

  <h3>Invisible Wall, Nov. 2000</h3>
  <p>Interactive work ‘Headspace Bubble Sampler’ exhibited on the interactive touch screen, part of the Invisible Wall at NYSCC School of Art and Design at Alfred University. Alfred NY.</p>

  <h3>Student Uprising, 2000</h3>
  <p>Video work ‘Digital Circuits and Diagrams’ included in Student Uprising; a show of student work screened at Mobius in Boston MA.</p>

  <h3>Threadworm, Jun. 2000 &amp; Oct. 2000</h3>
  <p>Live mix and projection of video with live music performance by ‘Threadworm’ at Piranha in Rochester NY.</p>

  <h3>Prominence, 2000</h3>
  <p>Video work ‘Digital Circuits and Diagrams’ included in an annual collection of student video works from western New York, screened at Hallwalls in Buffalo and Spark in Syracuse NY.</p>

  <h3>‘Electronics and Mutations,’ Apr. 1999</h3>
  <p>Suspended installation of miscellaneous electronic artifacts in the Snodgrass gallery at the NYSCC School of Art and Design at Alfred University. Alfred NY.</p>

  <h3>Open screening events at Alfred University, 1998 - 2001</h3>
  <p>Two or three times per semester the video department in the NYSCC School of Art and Design host open screenings of video and sound work in which I frequently participated. Alfred NY.</p>
</div>
{%- endblock%}
