.audio{
  .cover-art{
		width:350px;
		height:350px;
  }

  //player component won't take classname
  img + div{
    border-radius: 0;
    margin:0;
  }

  .copy{
    margin-top: 30px;
  }

  .download{
    margin-top:10px;
		text-transform: uppercase;
		font-size: 11px;
		font-weight: 600;
  }
}
