@mixin anim-color($speed: 0.3s) {
  transition: color $speed ease-in-out;
}

.base {
  h1 {
    margin-bottom: 30px;
    text-align: center;
  }

  a {
    @include anim-color(0.2s);
    color: #ccc;
    text-decoration: none;
  }
  a:visited {
    color: #ccc;
  }
  a:focus {
    outline: 0 !important;
  }
  a:hover,
  a:active {
    color: #fff;
    outline: 0;
  }

  p,
  ul {
    margin-bottom: 12px;
  }

  li p {
    margin-bottom: 0;
  }
}
