.blog{
  overflow: scroll;
  height: 100vh;
  scrollbar-width: none;
  >:first-child{
    margin-top: 20vh;
  }
  >:last-child{
    margin-bottom: 50px;
  }
  iframe,
  img{
    margin-bottom: 30px;
  }
  span ~ img,
  span ~ iframe {
    margin-top: 18px
  }
  .videoFrame{
    background: rgba(0,0,0,0.6);
  }
}