$mobile: 1023px;
$desktop: 1024px;
  // @media (min-width: $desktop) {
  // @media (max-width: $mobile) {

.gallery {
  display: grid;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  grid-template-rows: 45px 1fr 20px 25px;
  grid-template-areas: "." "gallerycontent" "galleryfooter" ".";

  .content {
    display: block;
    grid-area: gallerycontent;
    align-self: center;
    justify-self: stretch;

    > :first-child {
      margin-top: -30px;
    }

    .stack {
      width: 100vw;
      display: grid;
      margin-bottom: 0;
      padding:0;
      scrollbar-width: none;
      
      @media (min-width: $desktop) {
        width: unset;
        grid-template-areas: "fixed";
        grid-template-columns: repeat(auto-fill, 1fr);
      }

      li {
        transition: opacity 0.3s ease-in-out;
        min-width: 100vw;
        text-align: center;
        img{        
          max-height: 100vw;
        }

        @media (min-width: $desktop) {
          min-width: unset;
          grid-area: fixed;
          .img{
            max-height: unset;
          }
          &.on {
            opacity: 1;
            z-index: 5;
          }
          &.off {
            opacity: 0;
          }
        }
      }
    }
    .videoFrame {
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      
      @media (min-width: $desktop) {
        min-width: 525px;
        min-height: 400px;
      }
    }
    .description {
      margin-top: 30px;
    }
  }

  .footer {
    grid-area: galleryfooter;
    align-self: end;
    justify-self: center;
  }

  @media screen and (max-width: 900px) {
    .content {
      .stack {
        -webkit-overflow-scrolling: touch;
        display: grid;
        grid-auto-flow: column;
        scroll-snap-type: x mandatory;
        overflow-x: scroll;
        li {
          scroll-snap-align: center;
        }
      }
    }

  }
}
