{% extends 'flash.njk' %}
{% set title = 'Life Studies' %}
{% set ratio = '16x5' %}
{% set embed = [
  {
    "path": "curves6.swf",
    "alt": "curves6.jpg",
    "width": 800,
    "height": 250
  },
  {
    "path": "worms2.swf",
    "alt": "worms2.jpg",
    "width": 800,
    "height": 250
  }
] %}
{% block body -%}
  <p>2 parts from the 'still life' series shown together at the Visual Studies Workshop in Rochester</p>
{%- endblock %}
