{% extends 'img.njk' %}
{% set title = '#PWRDBYTWEETS' %}
{% set ratio = '16x9' %}
{% block body -%}
  <p>Prototype built for Twitter, ambient display device that reacts to tweeted keywords on the platform by changing colors of the lifx tile. Did the entire industrial design, fabrication, ux, and full-stack dev for a react + express app using the twitter and lifx apis, as well as a virtualized version built with threejs.</p>
{%- endblock %}
