{% extends 'audio.njk' %}
{% set title = 'Partyline!' %}
{% set s3link = 'http://aws.thisispete.com/dj/Partyline.mp3' %}
{% block body -%}
  <p>Excript from a set performed at Partyline!</p>
{%- endblock %}
