{% extends 'img.njk' %}
{% set title = 'Spice Rack' %}
{% set ratio = '16x9' %}
{% block body -%}
  <p>Custom XXL Spice rack for Berkeley Lambert Walker Wilson & Co. I hear they can fit at least 59 different kinds of spice in there.</p>{%- endblock %}
