{% extends 'img.njk' %}
{% set title = 'Getaround Disrupt SF' %}
{% set ratio = '4x3' %}
{% block body -%}
  <p>custom visuals produced for getaround and qwiki who hosted a party at Harlot SF for Disrupt 2011</p>
{%- endblock %}
