{% extends 'img.njk' %}
{% set title = 'Brass Wreaths' %}
{% set ratio = '16x9' %}
{% block body -%}
  <p>I built 10 of these for gifts for friends who help me through hard times. Brass tube and wire.</p>
{%- endblock %}
