{% extends 'img.njk' %}
{% set title = 'odopod.com 2016 Refresh' %}
{% set ratio = '16x9' %}
{% set link = 'http://www.odopod.com' %}
{% block body -%}
  <p>Worked with the crew one last time for a refresh of odopod's website. Focus was on surfacing the work, making it easier to learn about their offerings, and company culture.</p>
{%- endblock %}
