{% extends 'combo.njk' %}
{% set title = 'Sea of Dreams' %}
{% set ratio = '4x3' %}
{% set videos = [
  {
    "id": 5659328,
    "name": "sea of dreams"
  }
] %}
{% block body -%}
  <p>VJ for Anon Salon's massive new year's eve blowout event in SF.</p>
{%- endblock %}
