{% extends 'img.njk' %}
{% set title = 'Audemars Piguet Retail App' %}
{% set ratio = '_custom_1' %}
{% block body -%}
  <p>Custom iOS app for watchmaker Audemars Piguet retail engagements.</p>
{%- endblock %}
