{% extends 'audio.njk' %}
{% set title = 'Semi-Respectable' %}
{% set s3link = 'http://aws.thisispete.com/dj/odopod10.mp3' %}
{% block body -%}
  <p>Studio mix of my set from Odopod's 10 year anniversary bash at Bimbos, Dec 2011</p>
{%- endblock %}
