{% extends 'combo.njk' %}
{% set title = 'Terry Mullens' %}
{% set ratio = '4x3' %}
{% set videos = [
  {
    "id": 5659304,
    "name": "Waterstreet Music Hall"
  }
] %}
{% block body -%}
  <p>VJ set for Terry Mullens, Venus 7, and several other DJ's at Waterstreet Music Hall in Rochester.</p>
{%- endblock %}
