{% extends 'img.njk' %}
{% set title = 'Want2BSquare' %}
{% block body -%}
  <p>Worked as the technical lead with Attik and a huge international team to develop this enormous flash game portal & contest to celebrate the re-design of the Scion xB.</p>
{%- endblock %}
