{% extends 'img.njk' %}
{% set title = 'Magnetic Knife Rack' %}
{% set ratio = '16x9' %}
{% block body -%}
  <p>This chunk of wood started out as a bleacher seat at the old Cal stadium in Berkeley. It was then used by the Wooden Duck, a local re-claimed wood furnature store, as a finish sample. When they went out of business I acquired it and turned it into a knife rack by milling out spaces in the back to embed magnets. </p>{%- endblock %}
