{% extends 'img.njk' %}
{% set title = 'Jupiter Cake Box' %}
{% set ratio = '16x9' %}
{% block body -%}
  <p>Made this cake box and platter set for Ms. Presley. It takes a 9" or 10" springform cake, and fits either the glass dome or the matching travel box lid. The wood is quarter sawn sycamore, after a few prototypes I cut out the parts on the CNC, and then bent the kerf cut box sides by first soaking in water. And the red elastic strap holds it all together.</p>
{%- endblock %}
