{% extends 'img.njk' %}
{% set title = 'Electropolis' %}
{% set link = 'http://www.clubelectropolis.com/' %}
{% block body -%}
  <p>Designed and Developed this homepage for Club Electropolis</p>
{%- endblock %}
