{% extends 'img.njk' %}
{% set title = 'Video Riot 2004' %}
{% set ratio = '4x3' %}
{% block body -%}
  <p>My first video show in SF Video Riot was a sorta guerrilla event with dozens of visual artists all projecting onto a massive white warehouse from the parking lot, with music provided by short broadcast radio and lots of open tailgates and boomboxes.</p>
{%- endblock %}
