{% extends 'img.njk' %}
{% set title = 'Synaethesia' %}
{% set ratio = '4x3' %}
{% block body -%}
  <p>Photos from video installation at Synaethesia group show at the Visual Studies Workshop in Rochester</p>
{%- endblock %}
