{% extends 'text.njk' %}

{% block body -%}
  <div class="textOnly">
    <h2>Available for hire!</h2>
    <p>Currently looking for my next gig, I focus on making interactive experiences beyond the desktop. Projects that spark my interest are physical experiences like museum exhibits, point of sale experiences, dedicated UI for hardware, car dashboards, consumer electronics, rapid prototyping, R&D etc. Im very interested in the DIY "make" movement, internet of things, rapid prototyping for product development, and ultimately working with other creatives to create delightful and memorable experiences. I love problem solving, working with design to solve tough UX problems, and feel it’s important to continue to learn and grow while I work, as the work itself grows and evolves around us. </p>

    <h2>Qualifications</h2>

    <ul>
      <li>Fast learner and skilled problem solver</li>
      <li>Quick to pick up new languages and adapt with changing technological requirements</li>
      <li>Ability to explain complicated technologies and concepts to non-technical audiences</li>
      <li>Broad understanding of programming languages, architectures, and strategies</li>
      <li>Dedication to creative craftsmanship, design sense, and usability</li>
      <li>Experience as a mentor, teacher, and team leader</li>
    </ul>

    <h3>Expert:</h3>
    <p>Javascript, ES6, Node, Express, jQuery, Electron, Gulp, CSS, LESS, SCSS, Responsive, Pug, Nunjucks, CMS iOS, Swift, Objective-C, ActionScript, build systems, static site generators, dev tool development, Arduino,
    Raspberry Pi, Photoshop, Illustrator, Sketch</p>

    <h3>Experience:</h3>
    <p>Python, PHP, C++, C#, React, Redux, SQL, NoSQL, RegEX, Test Frameworks, Jasmine, Mocha, Agile, Dev Ops, Docker, Ansible, CI, Git, Lint, REST APIs, ARKit, A-frame, VR, Unity, Open Frameworks, OSX native apps, Circuit board design, Bluetooth, RFID, Fusion 360, 3D-Printing, Laser Cutting, Rhino, Grasshopper, CAM, NC Milling, Video Editing, UI/UX Design, Logo, Branding, Layout</p>

    <h2>Work Experience</h2>

    <h3>Senior Engineer - Creative Technology <br>MATTER (acquired by Fjord / Accenture) Jan 2017 - May 2019.</h3>
    <p> Lead technical consultant, and prototype engineer for a team of experience and industrial designers. Duties include; research, prototype engineering hardware and software, user testing, UX development, fabrication, consulting, make-shop management, internal education. Projects in the VR, AR, medical tech, robotics, consumer electronics, and point of sale and exhibit design spaces.</p>

    <h3>Senior Engineer II - Front End | Full-Stack | Native<br>Odopod (acquired by Nurun / Publicis) Jan 2008 - Nov 2016.</h3>
    <p>Long-term senior role for interactive design agency, focused on front end development, software architecture, dev tools, point-of-sale interactive experiences, multi-screen systems, internet of things, native iOS development, research & development, mentorship and team building. </p>
    <p>Notable projects include; Tesla retail store kiosk experiences, Audemars Piguet point of sale, Sony.com, Nest.com, various award winning creative marketing websites.</p>
    <p>Clients include; HP, Nike, Tesla, Honda, BF Goodrich, Nest, Dolby Labs, Audemars Piguet, EA Games, Coca-cola, Subzero Wolf, Google, Microsoft, and Sony.</p>

    <h3>Senior Engineer - Front End<br>Attik, June 2006 - Aug 2007.</h3>
    <p>Lead engineer / technical team management for advertising and marketing firm. Worked on developing several large promotional sites and marketing campaigns for Scion Lexus, including framework / architecture development and coordinating to onboard and integrate code from external engineering teams across several countries.</p>

    <h3>Freelance Design and Development, Sept. 2004 - Current.</h3>

    <h2>Education</h2>

    <h3>BFA, May 2001. NY State College of Ceramics, School of Art and Design at Alfred University.</h3>
    <p>Graduated Cum Laude with a 3.6 GPA. Studies focused on electronic art, Graphic and Interactive Design.</p>

    <h3><a href="http://thisispete.com/pete_schirmer_resume_2019.pdf">Download PDF</a></h3>
  </div>
{%- endblock%}
