{% extends 'audio.njk' %}
{% set title = 'Nightlife 1' %}
{% set s3link = 'http://aws.thisispete.com/dj/nightlife_11311_1.mp3' %}
{% block body -%}
  <p>live set at the Cal Academy of Science Nightlife event (1/2)</p>
{%- endblock %}
