{% extends 'combo.njk' %}
{% set title = 'Odopod Sign' %}
{% set ratio = '16x9' %}
{% set videos = [
  {
    "id": 332375955,
    "name": "odopod sign prototype"
  }
] %}
{% block body -%}
  <p>When odopod rebranded I designed this sign for the reception area, the front would glow white during the day, and at night it would eclipse just illuminating the brick wall around it.</p>
{%- endblock %}
