{% extends 'combo.njk' %}
{% set title = 'Comacast' %}
{% set ratio = '4x3' %}
{% set videos = [
  {
    "id": 6077093,
    "name": "Angel Prey [Dilute]"
  }
] %}
{% block body -%}
  <p>VJ'ed a number of shows for the band Comacast in NY.</p>
{%- endblock %}
