{% extends 'img.njk' %}
{% set title = 'Be the RioTTT' %}
{% set ratio = '4x3' %}
{% block body -%}
  <p>VJ sets for Fingerbangerz, Saul Williams, Metric, the Rapture. Bill Graham Civic Auditorium SF</p>
{%- endblock %}
