@mixin anim-color($speed: .3s) {
  transition:color $speed ease-in-out;
}

html{
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body, button, input, select, textarea, em, strong {
  font-family: 'Open Sans', 'Helvetica', 'Verdana', sans-serif;
  color: #ccc;
  font-weight: 400;
  margin: 0;
}
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #cccccc;
}

body{
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
	font-size: 12px;
  line-height: 13px;
  background: #000;
  padding: 0;
}

h1 {
  margin: 0;
  font-size: 23px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase
}
h2 {
  font-size: 19px;
  line-height: 19px;
  font-weight: 800;
  margin-bottom: 12px;
}
h3, h4 {
  font-size: 13px;
  line-height: 15px;
  font-weight: 700;
  margin: 0
}
p, div, span {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  margin: 0;
}

::selection {
  background: #003;
  color: #fff;
  text-shadow: none;
}
img::selection {
  background: transparent;
}

ul, ol { margin: 0; padding: 0; list-style: none;}


