@import "utilities.scss";

#nav {
  grid-area: nav;
  padding-left: 3rem;
  justify-self: left;
  align-self:center;
  z-index: 98;

  .navItem {
    transition-property: height;
    transition-duration: 0.18s;
    transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    overflow: hidden;
    height: 2.6rem;

    @media (min-width: $desktop) {
      height: 2rem;
    }

    a {
      text-transform: uppercase;
      font-size: 2.4rem;
      line-height: 2.5rem;

      @media (min-width: $desktop) {
        font-size: 1.6rem;
        line-height: 1.7rem;
      }
    }

    &.selected {
      a {
        color: #66f;
      }
    }

    &.hidden {
      height: 0;
      
      a {
        color: rgba($color: #fff, $alpha: 0);
      }
    }

    @for $i from 0 through 3 {
      $left: 1rem * $i;
      &.level-#{$i} {
        margin-left: $left;
      }
    }

    @for $i from 1 through 20 {
      $delay: 0.1s + 0.02s * $i;
      &.delay-#{$i} {
        transition-delay: $delay;
      }
    }
  }
}
